.container {
  display: flex;
  justify-content: center;
  list-style-type: none;
  width: 100%;
  max-width: 961px;
}

.container__item {
  padding: 0 12px;
  height: 32px;
  text-align: center;
  margin: auto 4px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;
  border-radius: 16px;
  line-height: 1.43;
  font-size: 13px;
  min-width: 32px;
}

.pagination__item {
  font-size: 18px;
  font-weight: 400;
  line-height: 2.11em;
  min-width: 38px;
  text-align: center;
  transition: background-color 0.5s ease;
  cursor: pointer;
  border-radius: 19px;
  border: 0;
  background-color: transparent;
}

.pagination__item_active {
  background-color: #d3d3d3;
  border-radius: 19px;
}

.pagination__item:hover {
  background-color: #d3d3d3;
  border-radius: 19px;
}

.container__item_active {
  padding: 0 12px;
  height: 32px;
  text-align: center;
  margin: auto 4px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;
  border-radius: 16px;
  line-height: 1.43;
  font-size: 13px;
  min-width: 32px;
  background-color: rgba(0, 0, 0, 0.08);
}

