.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

.gifs__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-auto-flow: dense;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  gap: 10px;
}

.gifs__item {
  box-sizing: border-box;
}

.gifs__image {
  width: 24vw;
  height: 24vw;
  object-fit: cover;
  border-radius: 1rem;
}

@media screen and (max-width: 936px) {
  .gallery {
    max-width: 604px;
    margin-bottom: 40px;
  }
  .gifs__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .gifs__image {
    width: 28vw;
    height: 28vw;
  }
}

@media screen and (max-width: 600px) {
  .gifs__image {
    width: 30vw;
    height: 30vw;
  }
}

@media screen and (max-width: 450px) {
  .gifs__image {
    width: 33vw;
    height: 33vw;
  }
}
