.header {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 40px 0 40px 0;
  text-decoration: none;
  color: #000;
}

.header__logo {
  height: 40px;
  width: 40px;
}

.header__title {
  font-size: 54px;
  font-weight: 900;
  line-height: 1.07em;
  margin: 0;
}

@media screen and (max-width: 400px) {
  .header__title {
  font-size: 45px;
  line-height: 1em;
  }
}