.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content__control {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: 0 0 70px 0;
  width: 100%;
}
